CompileFlags:                     # Tweak the parse settings
  Add: [-Wextra, -Wall, -std=c++98, -I/Users/orahmoun/ft_containers/helpers/, -I/Users/orahmoun/ft_containers/map/, -I/Users/orahmoun/ft_containers/vector/, -I/Users/orahmoun/ft_containers/stack/, -I/Users/orahmoun/ft_containers/pair/]             # treat all files as C++, enable more warnings
  Compiler: clang++               # Change argv[0] of compile flags to `clang++`
